@using System.Web.UI.WebControls
@model LogBook.ViewModels.CyberLock.CyberLockLogViewModel

@Html.Hidden("CommentsTotalNumber", Model.TotalNumber)
<table class="table table-sm table-striped">
    <tr class="">
        <th>Date</th>
        <th>User</th>
        <th>Description</th>
    </tr>
    @{
        if (Model.CyberlockLogs.Any())
        {
            foreach (var lockLog in Model.CyberlockLogs.OrderByDescending(l => l.Date))
            {
            <tr class="">
                <td>@lockLog.Date.ToString("MM/dd/yyyy HH:mm")</td>
                <td>@lockLog.Person_name</td>
                <td>@lockLog.Description</td>
            </tr>
            }
        }
    }
</table>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:GetCyberLockLogsResultPartialView(@(Model.PageNumber - 1))">Prev</a>
                </li>
            }

            @for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
            {
                if (i > 0 && i <= Model.TotalPages)
                {
                    if (i == Model.PageNumber)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="javascript:GetCyberLockLogsResultPartialView(@i)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GetCyberLockLogsResultPartialView(@i)">@i</a>
                        </li>
                    }

                }
            }
            @if (Model.TotalPages > Model.PageNumber)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:GetCyberLockLogsResultPartialView(@(Model.PageNumber + 1))">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
